#carousel-example-generic #home-img img{
	width: 100%;
	height: 670px;
}
#imgFont{
	font-size: 50px;
	color: #3d3c3a;
	margin-bottom: 50px;
}
#content{
	margin-top: 50px;
}
#content .row .thumbnail img{
	width: 100%;
	height: 300px;
}
#content .row .div1 figure{
		width: 100%;
		height: 300px;
		overflow: hidden;
}
.log_in{
	margin-left: 90%;
	font-size: 1em;
	font-family: "微软雅黑";
	overflow: hidden;
}
.log_in .register{
	color: #ccc;
	text-decoration: none;
	padding-top: 15px;
	display: block;
	float: left;
}
.log_in .log{
	color: #ccc;
	text-decoration: none;
	padding-top: 15px;
	display: block;
	float: left;
	margin-left: 15px;
}
.log_in a:hover{
	color: #fff;
}
.div1 img:hover{
	-webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.3s ease;
   	-moz-transition: all 0.3s ease;
   	transition: all 0.3s ease;
   	background-color: #ccc;
}
.content1{
	height: 400px;
	background-repeat: no-repeat;
	overflow: auto;
	margin-top: 20px;
	overflow: hidden;
	position: relative;
}	
.content1 img{
	width: 100%;
	float: left;
}
.content1 h1{
	color: #fff;
	font-size: 40px;
	letter-spacing: 2px;
	position: absolute;
	top: 110px;
	left: 200px;
	margin-left: 230px;
	z-index: 999;
}
.content1 h2{
	font-family: "微软雅黑";
	color: #fff;
	font-size: 18px;
	letter-spacing: 2px;
	position: absolute;
	top: 210px;
	left: 230px;
	margin-left: 180px;
	z-index: 999;
}
.content1 div{
	height: 45px;
	background-color: #87b6c4;
	font-size: 18px;
	padding: 10px 20px;
	border-radius: 30px;
	color: #fff;
	letter-spacing: 2px;
	position: absolute;
	top: 300px;
	left: 50%;
	z-index: 999;
	cursor: pointer;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);

}
.content1 div:hover{
	padding: 10px 40px;
	background-color: #f66d52;
	letter-spacing: 4px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.title{
	text-align: center;
	font-weight: 700;
	line-height: 50px;
	margin-top: 50px;
}
.border{
	display: block;
    height: 4px;
    width: 220px;
    background: #87b6c4;
    position: absolute;
    bottom: 0;
    left: 45%;
    margin-left: -50px;
}
.conter{
	font-size: 14px;
	font-style: normal;
	font-family: "微软雅黑";
	letter-spacing:1px;
	word-spacing: 5px;
	line-height: 25px;
	color: #4d287a;
	text-align: center;
}
.block3{
	margin-top: 50px;
	margin-bottom: 50px;
}
.block3 h3{
	font-size: 14px;
	letter-spacing: 3px;
	text-align: center;
}
.block3 input{
	width: 200px;
	height: 40px;
	padding:0 10px;
	border-radius: 30px;
	display: block;
	margin: 0 auto;
	border: 2px solid #87b6c4;
	outline: none;
}
#block2{
	height: 307px;
	width: 1175px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	position: relative;
	overflow: hidden;
}
#block2 ul{
	position: absolute;
	left: 0;
	top: 0;
}
#block2 ul li{
	float: left;
	margin-left: 15px;
	list-style: none;
	border-radius: 5px;
}
#block2 ul img{
	height: 307px;
	width: 376px;
}
#block2 figure{
	height: 307px;
	width: 376px;
	overflow: hidden;
}
#block2 li img:hover{
	-webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.3s ease;
   	-moz-transition: all 0.3s ease;
   	transition: all 0.3s ease;
}