p {font-family:'Poiret One',cursive; color: #333;}
h1,h2,h3,h4 {  font-family:'Poiret One',cursive; font-weight: normal; color: #333; margin: 20px 0}

.box_comment {background: #fafafa; border-bottom: 1px solid #CCC; padding: 8px; soverflow: hidden;}
.box_comment p {font-size: 11px; padding: 0px; margin:0}



.box_fluid {
  margin-bottom: 1.4%;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  font-size: 100%;
  line-height: 1.4em;
  
}

.box_fluid_inner {padding: 0 15px 0;}

.col_fluid {width: 30%}
.col_fluid img {
		width: 450px;
		height:330px;		
}

.ten {
	margin-top: 30px;
	float: right;
}
